{% extends "lineup/base.html" %}

{% block title %}{{ lineup.title }}{% endblock %}

{% block content %}

<h1>{{ lineup.title }}</h1>
{% if error_message %}
{{ error_message }}
{% endif %}

<form action="{% url 'edit' lineup.id %}" method="post">
    {% csrf_token %}
    {{ lineup_form.management_form }}

    {% if lineup.id = 0 %}
        {{ lineup_form }}
    {% endif %}

    <hr/>

    <h3>Entries</h3>
    {{ entry_form_set.management_form }}
    {% for form in entry_form_set %}
        <ul class="entry">
            {{ form.as_ul }}
        </ul>
    {% endfor %}

    <div class="twelve columns">
        <input class="button-primary" value="Save" type="submit">
        <a class="button" href="{% url 'view' lineup.id %}">Back</a>
    </div>
</form>

{% endblock %}
