{% extends "lineup/base.html" %}

{% block title %} Frontpage {% endblock %}

{% block content %}

<h1>Featured lineups</h1>

{% if lineup_list %}
    <ul>
        {% for lineup in lineup_list %}
        <li><a href="{% url 'view' lineup.id %}">{{ lineup.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<a class="button" href="{% url 'new' %}">New lineup</a>

{% if user.is_authenticated %}
You are logged in as {{user.username}}.
<a class="button" href="{% url 'logout' %}">Logout</a>
{% else %}
<a class="button" href="{% url 'login' %}">Login</a>
<a class="button" href="{% url 'register' %}">Register</a>
{% endif %}

{% endblock %}
